[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Exec=lockfs-notify
Icon=changes-prevent
Name=bilibop-lockfs
Comment=Notification of locking of the filesystems
Comment[en]=Notification of locking of the filesystems
Comment[fr]=Notification de verrouillage des systèmes de fichiers
StartupNotify=false
Terminal=false
Hidden=false
